body {
    font-family: "Lato", sans-serif;
}
.action-btn {
    display: flex;
    padding: 20px 0px 20px 0px;
    justify-content: space-between;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.navbar {
    margin-left: 40px;
}
.dropdown-menu {
    background-color: transparent;
    border: none;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgb(0, 162, 255);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}
.hidden {
    visibility: hidden;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}

.menu-btn {
    display: flex;
    padding-bottom: 20px;
    margin: auto;
    justify-content: space-between;
}
